@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
 
:root {
    --primary-color: #173d6e;
    --form-background-color: #EBEFF4;
    --form-container-background-color: #FFFFFF;
    --header-table-color: rgba(243,248,254,1);
    --border-color: #ccdae4;
    --hover-color: #99b5c9;
    --font-family: "Josefin Sans", "sans-serif";
    --btn-primary-color: rgba(23,61,110,1);
    --btn-primary-color-hover: rgba(0, 69, 120, 1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
.paragraph {
   font-family: var(--font-family);
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
}
/* main */
.main-container {
    background-color: var(--form-background-color);
}
 
.container-custom {
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 15px 20px;
    background-color: var(--form-container-background-color);
}
.form-control {
    border-color: var(--border-color);
}

.form-check-label{
    padding-left: 5px;
    padding-bottom: 5px;
}
label {
    font-weight: 400;
}
.form-item {
    padding-top: 10px;
}
.form-select {
    border-color: var(--border-color);
    margin-bottom: 10px;
}
 .form-select:focus {
    box-shadow: none !important;
    border-color: var(--hover-color);
 }
h3 {
   font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    padding-top: 10px;
}
.form-control::placeholder {
    color: #999 !important;
}

 
.signature canvas {
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 10px;
    cursor: url(../assets/pen.png) 16 16, crosshair;
}
 
.btn {
    border: none;
    border-radius: 5px;
    background-color: var(--btn-primary-color);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--btn-primary-color-hover);
}

.selected-items {
    padding-bottom: 10px;
}
 
input.form-control {
    border-color: var(--border-color);
}
input.form-control:hover {
 border-color: var(--hover-color);
}
.form-control, .form-control:focus , input.form-control:focus {
    box-shadow: none;
}
.btn-primary {
    margin-right: 15px;
}

.lead{
    font-size: 20px;
    font-weight: 300;
}
 
 
.main-form-container {
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 15px 20px;
    background-color: var(--form-container-background-color);
}

.heading-color {
color: #54a0be;
}
h3.fields-title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
  }
#view_Privacy_Notice .form-label {
    font-weight: 700;
}
.notice_of_privacy_practices table th,.notice_of_privacy_practices table tr {
    line-height: 1.2;
}

.signature canvas {
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 10px;
    cursor: url(../assets/pen.png) 16 16, crosshair;
}
.radio_btn_inline .form-check {
    display: inline-block;
    margin-right: 10px;
}
.radio_btn_inline .form-label {
    display: block;
    padding-left: 0 !important;
    font-weight: 700;
}
 
#txtInsuranceTypeOther .form-item {
    padding-top: 0;
}
.container-xl-custom .multiple-checkbox { 
    line-height: 1.2;
    vertical-align: middle;
}
.multiple-checkbox tr th {
    width: 350px;
}
.multiple-checkbox tr td {
    text-align: center;
}
/* Media query for smaller screens */

@media(min-width:768px) {
#txtInsuranceTypeOther input {
    width: 306px;
}
}
  @media(min-width:1200px) {
    .container-xl-custom {
        width: 990px;
        margin: 0 auto;
    }
  }
   
@media screen and (max-width: 1200px) {
    .signature {
        width: 100%;
    }
    .signature-canvas canvas {
        width: 72vw;
        height: 150px;
    }
}