@media(min-width:1200px) {
    h4.step-header {
        position: absolute;
        top: 43px;
        width: 130px;
    }
}
@media(min-width:1366px) {
    h4.step-header { 
        width: 210px;
    }
}