
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
    --primary-color: #173d6e;
    --form-background-color: #EBEFF4;
    --form-container-background-color: #FFFFFF;
    --header-table-color: rgba(243, 248, 254, 1);
    --border-color: #ccdae4;
    --hover-color: #99b5c9;
    --font-family: "Josefin Sans", "sans-serif";
    --btn-primary-color: rgba(23, 61, 110, 1);
    --btn-primary-color-hover: rgba(0, 69, 120, 1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family) !important;
}
.radio_btn_inline .form-label { 
    font-weight: 400 !important;
}

span {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.main-form-container h5 {
    font-size: 0.8rem !important;
    font-weight: bold !important;
}

input.form-control {
    border: 1px solid var(--border-color);
}
h5 {
    margin-top: 0px !important;
    margin-bottom: 10.5px !important;
    line-height: 1.2;
}

.main-container {
    padding: 0px 20px;
    background-color: var(--form-background-color);
    font-family: var(--font-family) !important;
}

.container-custom {
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 15px 20px;
    background-color: var(--form-container-background-color);
}
.wrapper-class p {
    font-size: 18px;
}
.form-control {
    border-color: var(--border-color);
}

.form-check-label {
    padding-left: 5px;
    padding-bottom: 5px;
}

label {
    font-weight: 400;
}

.form-item {
    padding-top: 10px;
}

.form-select {
    border-color: var(--border-color);
    margin-bottom: 10px;
}

.form-select:focus {
    box-shadow: none !important;
    border-color: var(--hover-color);
}

h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    padding-top: 10px;
}

.form-control::placeholder {
    color: #999 !important;
}
h6 {
    padding-bottom: 0px !important;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

.signature canvas {
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 10px;
    cursor: url(../assets/pen.png) 16 16, crosshair;
}

.btn {
    border: none;
    border-radius: 5px;
    background-color: var(--btn-primary-color);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--btn-primary-color-hover);
}

.selected-items {
    padding-bottom: 10px;
}

input.form-control {
    border-color: var(--border-color);
}

input.form-control:hover {
    border-color: var(--hover-color);
}

.form-control,
.form-control:focus,
input.form-control:focus {
    box-shadow: none;
}

.btn-primary {
    margin-right: 15px;
}

.lead {
    font-size: 20px;
    font-weight: 300;
}


.main-form-container {
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 15px 20px;
    background-color: var(--form-container-background-color);
}

.heading-color {
    color: #54a0be;
}

h3.fields-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
}

#view_Privacy_Notice .form-label {
    font-weight: 700;
}

.notice_of_privacy_practices table th,
.notice_of_privacy_practices table tr {
    line-height: 1.2;
}

.signature canvas {
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 10px;
    cursor: url(../assets/pen.png) 16 16, crosshair;
}

.radio_btn_inline .form-check {
    display: inline-block;
    margin-right: 10px;
}

.radio_btn_inline .form-label {
    display: block;
    padding-left: 0 !important;
    font-weight: 700;
}

.radio_btn_below .form-check{
    flex-direction: column;
    margin-left: 10px;
}

.radio_btn_below .form-label {
    display: block;
    padding-left: 0 !important;
    font-weight: 700;
    
}
.card-body-row {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    flex-direction: row;
    display: flex
}
.card-body-row #Medication{
    display: none;
    width: 70%;
    margin-left: 40px;
}
.bp-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap as needed */
  }
  .bp-input label {
    display: inline !important;
  }
  
  .bp-separator {
    margin: 20 5 0 5;
    font-size: 15; /* Increase the font size */
    font-weight:600; /* Make the text bold */
  }
  .Incision-container{
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap as needed */
  }
  .asterisk {
    color: red;
  }